body{
	margin:0px;
	padding: 0px;
	font-size: 16px;
	color: #222;
}
#app{
	max-width: 1100px;
}
.input{
	max-width: 7em;
	border-radius: 4px;
	border: none;
	background-color: #efefef;
	font-size: 14px;
	padding: 4px;
	color:#777;
	margin-bottom: 2px;
	font-family: sans-serif;
	
}
.file-input{
	display: none;
}
.error{
	color: #a00;
	padding: 5px;
	margin-top: 5px;
	font-family: sans-serif;
}

.date{
	border-radius: 4px;
	background-color: #efefef;
	font-size: 14px;
	padding: 2px;
	color:#777;
}
.remove-button{
	cursor: pointer;
	float: right;
}
#app{
	margin: 20px;
}
.panel{
	border: 0.5px solid #bbb;
	font-family: sans-serif;
	margin-bottom: 10px;
}
.panel-title{
	cursor: pointer;
}
.panel-header{
	padding: 8px;
}
.panel-body{
	border-top: 0.5px solid #eee;
	padding: 8px;
}
.panel-footer{
	min-height: 1em;
	padding: 8px;
}
.collapsed .panel-body{
	display: none;
}
.collapsed .panel-footer{
	display: none;
}
.empty{
	color:#ccc;
	padding: 8px;
}
.period-list-item{
	border-top: none;
	border-bottom: none;
}
.period-list-item.with-beginning{
	border-top: 0.5px solid #bbb;
}
.period-list-item.with-end{
	border-bottom: 0.5px solid #bbb;
}
.period-list-item.removing{
	color:#ddd;
}

.category-top{
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin-left: 1.5em;
}
.category{
	padding:5px 0px 5px 0px;
}
.category.non-existent{
	color:#ccc;
}
.category-set{
	padding-left:1.5em;
}
.category-header.category-settings-header input{
	display: inline-block;
}
.category-header.category-settings-header .property-contains{
	display: inline-block;
}
.category-header.category-settings-header .property-matches{
	display: inline-block;
}
.new-category-input{
	margin-left: 1.5em;
}
.collapsed > .category-set{
	display: none;
}
.collapsed > .row{
	display: none;
}
.category-header-prefix{
	width:1.5em;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	padding-top: 2px;
}
.plus{
	display: none;
}
.collapsed > .category-header > span > .minus{
	display: none;
}
.collapsed > .category-header > span > .plus{
	display: inline-block;
	vertical-align: top;
}
.category-filter{
	margin-left: 1em;
}
.category-filter{
	margin: 5px;
}
.filter-button{
	color:#ccc;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin-top:5px;
}
.active .filter-button{
	color:#000;
}
.category-filter{
	min-height: 2em;
}
.property-contains{
	display: inline-block;
}
.property-matches{
	display: inline-block;
}
.pattern-input{
	max-width: none;
	width:15em;
	font-family: monospace;
	border: 1pt solid #fff;
}
.pattern-input.invalid{
	color:#b00;
	background-color: #ffefef;
	border:1pt solid #b00;
}
.value-list-input{
	max-width: none;
	width:15em;
	min-height: 2em;
	display: inline;
	padding: 3px;
}
.value-list-input input{
	display: inline-block;
	background-color: transparent;
	border:none;
	margin:3px;
	padding: 3px;
}
.value-list-input input:focus{
	outline-width: 0;
}
.value-list-value{
	display: inline-block;
	background-color:#999;
	color:#efefef;
	border-radius: 3px;
	margin:3px;
	padding: 3px 5px 3px 5px;
}
.row{
	padding:8px 0px 8px 0px;
	border-bottom: 0.5px solid #ddd;
	display: block;
}
.string-property-name{
	color:#999;
}
.row-part{
	max-width: calc(100% - 7em);
	display: inline-block;
	vertical-align: top;
}
.toggle-collapse{
	cursor: pointer;
}
.non-existent .toggle-collapse{
	cursor: initial;
}
.more{
	padding:5px;
	color: #bbb;
}
.amount{
	float: right;
}
span.toggle-collapse > .amount{
	display: none;
}
.collapsed > .category-header > span > .amount{
	display: initial;
}
.row .amount{
	display: initial;
}
.column-slot{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin: 5px;
	border: 0.5px solid #bbb;
	min-width: 7em;
	cursor: pointer;
}
.column-slot.selected{
	background-color: #bbb;
	color:#fff;
}
.add-button{
	cursor: pointer;
}
.slot-switch-button{
	cursor: pointer;
}
.save-button{
	display: inline-block;
	float: right;
	cursor: pointer;
}
.reset-button{
	display: inline-block;
	float: left;
	cursor: pointer;
}