body{
	margin:0px;
	padding: 0px;
	font-size: 16px;
	color: #222;
}
.with-balloon{
	display: inline-block;
}
.input{
	max-width: 7em;
	border-radius: 4px;
	border: none;
	background-color: #efefef;
	font-size: 14px;
	padding: 4px;
	color:#777;
	margin-bottom: 2px;
	font-family: sans-serif;
}
.user-name{
	font-family: sans-serif;
	margin-left: 5px;
}
.html-select{
	max-width: none;
	position: relative;
}
.html-option{
	cursor: default;
	padding: 2px;
}
.html-option-list{
	position: relative;
	top:100%;
	max-width: none;
	/*width: 6em;*/
	display: inline-block;
}
.html-option-expand{
	margin-top:2px;
	display: inline-block;
	vertical-align: top;
	width: 1em;
}
.file-input{
	display: none;
}
.error{
	color: #a00;
	padding: 5px;
	margin-top: 5px;
	font-family: sans-serif;
}
.date{
	border-radius: 4px;
	background-color: #efefef;
	font-size: 14px;
	padding: 2px;
	color:#777;
}
.panel-header .right{
	display: inline-block;
	float: right;
}
.right .amount{
	float: unset;
}
.remove-button{
	cursor: pointer;
}
#app{
	margin: 20px;
}
.login-status{
  height:1.5em;
}
.login-status-inner{
  display:inline-block;
  float:right;
}
.saved-status{
	height:1.5em;
}
.sign-out-button{
  cursor:pointer;
  padding:5px;
}
.panel{
	border: 0.5px solid #bbb;
	font-family: sans-serif;
	margin-bottom: 10px;
}
.panel-title{
	cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}
.panel-header{
	padding: 8px;
}
.panel-body{
	border-top: 0.5px solid #eee;
	padding: 8px;
}
.panel-footer{
	min-height: 1em;
	padding: 8px;
}
.collapsed .panel-body{
	display: none;
}
.collapsed .panel-footer{
	display: none;
}
.empty{
	color:#ccc;
	padding: 8px;
}
.period-list-item-loading{
	margin-bottom: 10px;
	background-color: #eee;
	padding: 8px;
}
.period-list-item{
	border-top: none;
	border-bottom: none;
}
.period-list-item.with-beginning{
	border-top: 0.5px solid #bbb;
}
.period-list-item.with-end{
	border-bottom: 0.5px solid #bbb;
}
.period-list-item.removing{
	color:#ddd;
}
.refresh{
	display: none;
	margin-right: 20px;
}
.refresh .fas{
	float: right;
}
.category-top{
	display: inline-block;
	min-width:475px;
	vertical-align: top;
	margin-left: 1.5em;
}
@media (max-width:520px){
  .category-top{
    min-width: unset;
    width:80%;
    display:block;
  }
  #app{
  	margin:0px;
  }
  .panel{
  	margin:0px;
  }
  .period-list-item.with-beginning{
  	border-top: none;
  }
  .refresh{
  	display: block;
  }
}
.drag-slot-inner{
	display: none;
	height: 2px;
	background-color: #ccc;
}
.drag-slot{
	width:9em;
	height: 0.5em;
}
.dragged-over > .drag-slot > .drag-slot-inner{
	display: block;
}
.category-layover{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.75);
	display: none;
}
.dragged-from .category-layover{
	display: block;
}
.draggable{
	cursor: all-scroll;
}
.category{
	padding:5px 0px 5px 0px;
}
.category-settings{
	width: unset;
	padding: 0px;
	position:relative;
}
.category.non-existent{
	color:#ccc;
}
.category-set{
	padding-left:1.5em;
}
.category-header{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  user-select:none;
  -o-user-select:none;
}
.category-header.category-settings-header input{
	display: inline-block;
}
.property-contains{
	display: inline-block;
}
.row-collection{
	display: inline-block;
}
.row-property{
	display: block;
}
.row-property-part{
	display: inline-block;
	vertical-align: top;
}
.source-type{
	padding-right: 1em;
	min-height: 1.5em;
}
.target-type{
	padding-left: 1em;
}
.arrow-container{
	padding-top: 3px;
}
.remove-property{
	color: #efefef;
	cursor: pointer;
}
.row-property:hover .remove-property{
	color:#222;
}
.remove-property span{
	margin-top: 3px;
}
.source-type .input{
	display: inline;
	float: right;
}
.target-type .input-part{
	display: inline;
	float: left;
}
.string-match .input{
	display: inline;
	float: right;
	max-width: 10em;
}
.string-match span{
	margin-top: 3px;
}
.property-matches{
	display: inline-block;
}
.new-category-input{
	margin-left: 1.5em;
}
.collapsed > .category-set{
	display: none;
}
.collapsed > .row{
	display: none;
}
.category-header-prefix{
	width:1.5em;
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	padding-top: 2px;
}
.plus{
	display: none;
}
.collapsed > .category-header > span > .minus{
	display: none;
}
.collapsed > .category-header > span > .plus{
	display: inline-block;
	vertical-align: top;
}
.filter-button{
	color:#ccc;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	margin-top:5px;
}
.active .filter-button{
	color:#222;
}
.active .collection-button{
	cursor: default;
}
.expectation .fa-times{
	color:#ccc;
}
.expectation.active .fa-times{
	color:#222;
}
.expectation .filter-button{
	cursor: default;
}
.expectation-number{
	display: inline-block;
}
.category-addon{
	min-height: 2em;
}
.category-addon-content{
	background-color: #efefef;
	padding: 5px;
	border-radius: 4px;
	margin-top:4px;
}
.category-addon-content .input{
	background-color: #fff;
}
.pattern-input{
	max-width: none;
	font-family: monospace;
	border: 1pt solid #fff;
}
.invalid{
	color:#b00;
	background-color: #ffefef;
	border:1pt solid #b00;
}
.add-row-property{
	width: 1em;
	cursor: pointer;
}
.value-list-input{
	max-width: none;
	display: inline-block;
	margin:0px;
}
.value-list-input input{
	background-color: transparent;
	border:none;
	margin:0px 3px 0px 0px;
	padding: 3px;
}
.value-list-input input:focus{
	outline-width: 0;
}
.value-list-value{
	float: left;
	background-color:#999;
	color:#efefef;
	border-radius: 3px;
	margin:0px 3px 0px 0px;
	padding: 3px 5px 3px 5px;
}
.row{
	padding:8px 0px 8px 0px;
	border-bottom: 0.5px solid #ddd;
	display: block;
}
.string-property-name{
	color:#999;
}
.row-part{
	max-width: calc(100% - 7em);
	display: inline-block;
	vertical-align: top;
}
.toggle-collapse{
	cursor: pointer;
}
.non-existent .toggle-collapse{
	cursor: initial;
}
.more{
	padding:5px;
	color: #bbb;
}
.amount{
	float: right;
}
span.toggle-collapse > .amount{
	display: none;
}
.collapsed > .category-header > span > .amount{
	display: initial;
}
.row .amount{
	display: initial;
}
.column-slots{
  margin-bottom:15px;
}
.column-slot{
	display: inline-block;
	vertical-align: top;
	padding: 5px;
	margin: 5px;
	border: 0.5px solid #bbb;
	min-width: 7em;
	cursor: pointer;
}
.column-slot.selected{
	background-color: #bbb;
	color:#fff;
}
.add-button{
	cursor: pointer;
}
.slot-switch-button{
	cursor: pointer;
}
.save-button{
	display: inline-block;
	float: right;
	cursor: pointer;
	padding: 5px;
}
.reset-button{
	display: inline-block;
	float: left;
	cursor: pointer;
	padding: 5px;
}
.custom-checkbox{
	display: inline;
	cursor: pointer;
	width: 1em;
}
.custom-checkbox input{
	display: none;
}
.custom-checkbox .fa-check{
	color: transparent;
}
.custom-checkbox.checked .fa-check{
	color:#777;
}
.above-periods{
	margin: 15px;
	min-height: 1em;
}
.earlier{
	font-family: sans-serif;
	color: #999;
	cursor: pointer;
}
.search{
	float: right;
	display: inline-block;
}
.open-search{
	cursor: pointer;
}
.loading .earlier{
	display: none;
}
.loading .search{
	display: none;
}
