<html>
	<head>
		<title>ExpenCSV</title>
	    <meta name="viewport" content="width=475,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="mobile-web-app-capable" content="yes" />
		{% if debug %}
			<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		{% else %}
			<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		{% endif %}
		
		<script src="{{ url_for('static', filename='dist/main.js') }}"></script>
  		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
  		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		{% if mocklogin %}
			<script>
				(function(){
					var initializeApp = function(){};
					var auth = function(){
						return {
							onAuthStateChanged:function(userCallback){
								userCallback({
									displayName:"Mocked User",
									email:"mockeduseremail@email.com",
									getIdToken:function(){
										return new Promise(function(res, rej){
											res("");
										});
									}
								});
							},
							signOut:function(){}
						};
					};
					auth.GoogleAuthProvider = {PROVIDER_ID:0};
					auth.EmailAuthProvider = {PROVIDER_ID:0};
					window.firebase = {
						initializeApp:initializeApp,
						auth:auth
					};
				})();
			</script>
		{% else %}
			<script src="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.js"></script>
			
			{% if debug %}
		  		<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase.js"></script>
		  	{% else %}
		  		<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-app.js"></script>
		  		<script src="https://www.gstatic.com/firebasejs/5.4.2/firebase-auth.js"></script>
		  	{% endif %}
		  	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.2/firebaseui.css">
		{% endif %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">

	</head>
	<body>
		{% raw %}
		<script type="text/template" id="categoryTemplate">
			<div class="category" v-bind:class="{collapsed:collapsed,'category-top':top}">
				<div class="category-header" unselectable="on" onselectstart="return false;" onmousedown="return false;">
					<span v-bind:class="{'toggle-collapse':!isSimple}" v-on:click="toggleCollapse">
						<span class="neither category-header-prefix" v-if="isSimple"></span>
						<template v-else>
							<span class="plus category-header-prefix"><span class="fas fa-plus-square"></span></span>
							<span class="minus category-header-prefix"><span class="fas fa-minus-square"></span></span>
						</template>
						{{categoryData.name}}<expectation v-if="categoryData.expectation" v-bind:expectation="categoryData.expectation"></expectation>: <amount v-bind:numberOfCents="categoryData.total"></amount>
					</span>
				</div>
				<div class="category-set" v-if="categoryData.categories">
					<category v-for="category in categoryData.categories" v-bind:categoryData="category" v-bind:top="false"></category>
				</div>
				<row-collection v-if="categoryData.rows" v-bind:data="categoryData.rows"></row-collection>
			</div>
		</script>
		<script type="text/template" id="removeButtonTemplate">
			<span class="fas fa-times remove-button" v-on:click="click"></span>
		</script>
		<script type="text/template" id="rowCollectionTemplate">
			<div class="category-set">
				<row v-for="row in data.items" v-bind:row="row"></row>
				<span class="more" v-if="data.more">(en nog {{data.more}})</span>
			</div>
		</script>
		<script type="text/template" id="periodItemTemplate">
			<div class="panel period-list-item" v-bind:class="{'removing':isRemoving,'with-end':hasEnd, 'with-beginning':hasBeginning, 'collapsed':collapsed}">
				<div class="period-list-item-loading" v-if="!data">&nbsp;</div>
				<template v-if="data">
					<div class="panel-header">
						<span class="panel-title" v-on:click="toggleCollapse" unselectable="on" onselectstart="return false;" onmousedown="return false;">{{periodDescription}}</span>
						<div class="right">
							<amount v-if="collapsed" v-bind:numberOfCents="data.balance"></amount>
							<remove-button v-if="data.hasEnd && data.hasBeginning" v-on:click="remove"></remove-button></div>
						</div>
					<div class="panel-body">
						<category v-bind:top="true" v-bind:categoryData="data.Bij" v-if="data.Bij"></category>
						<category v-bind:top="true" v-bind:categoryData="data.Af" v-if="data.Af"></category>
					</div>
				</template>
			</div>
		</script>
		<script type="text/template" id="expectationTemplate">
			<span class="expectation" v-bind:title="dateSummary"> ({{expectation.actual}})</span>
		</script>
		<script type="text/template" id="rowTemplate">
			<div class="row">
				<date v-bind:date="dateProperty.value" v-if="dateProperty" class="row-part"></date>
				<div class="row-part">
					<div class="string-property" v-for="prop in stringProperties"><span class="string-property-name" v-if="stringProperties.length > 1">{{prop.name}}:&nbsp;</span>{{prop.value}}</div>
				</div>
				<amount v-bind:numberOfCents="amountProperty.value" v-if="amountProperty" class="row-part"></amount>
			</div>
		</script>
		<script type="text/template" id="settingsTemplate">
			<div class="panel" v-bind:class="{'collapsed':collapsed}">
				<div class="panel-header"><div class ="with-balloon" data-balloon="settings" data-balloon-pos="up"><span class="fas fa-cog panel-title" v-on:click="toggleCollapse"></span></div></div>
				<div class="panel-body">
					<div class="column-slots">
						<column-slot v-for="slot in slots" v-bind:data="slot" v-on:definitioncreated="onDefinitionCreated" v-on:definitionremoved="onDefinitionRemoved" v-on:selected="onSlotSelected" v-on:deselected="onSlotDeselected" v-on:valid="onValid"></column-slot>
						<div class="with-balloon" data-balloon="add a column definition" data-balloon-pos="up">
							<span class="fas fa-plus add-button" v-on:click="addNewSlot"></span>
						</div>
						<div class="with-balloon" data-balloon="switch the position of these two columns" data-balloon-pos="up" v-if="canSwitch">
							<span class="fas fa-exchange-alt slot-switch-button" v-on:click="doSlotSwitch"></span>
						</div>
					</div>
          <custom-checkbox v-model="ignoreFirstLine" v-bind:tooltip="'Use this if the first line of your csv contains column headers instead of data'" v-bind:tooltippos="'down-left'"></custom-checkbox>
					Ignore first line
				</div>
				<div class="panel-body" v-if="data && data.categories">
					<category-settings v-on:insertcategorybefore="onInsertCategoryBefore" v-on:insertcategoryafter="onInsertCategoryAfter" v-on:addcategorytoparent="onAddCategoryToParent" v-bind:property-list="data.rowDefinition.additional || []" v-bind:draggedcategory="draggedCategory" v-bind:top="true" v-for="slot in categorySlots" v-bind:data="slot" v-on:valid="onValid" v-on:categorydragstart="onCategoryDragStart" v-on:categorydragend="onCategoryDragEnd"></category-settings>
				</div>
				<div class="panel-body" v-if="dirty">
					<div class="saved-status">
						<div data-balloon="undo all changes" data-balloon-pos="down-left" class="reset-button" v-if="dirty && saved">
							<span class="fas fa-undo-alt" v-on:click="getSettings"></span>
						</div>
						<div data-balloon="save changes" data-balloon-pos="down-right" class="save-button" v-if="dirty && violationCount == 0">
							<span class="fas fa-save" v-on:click="save"></span>
						</div>
					</div>
					
				</div>
				<div class="panel-body">
					<div class="login-status">
						<div class="login-status-inner">
						{{loggedinname}}
						<div class="with-balloon sign-out-button">
							<span class="fas fa-sign-out-alt" v-on:click="$emit('signout')"></span>
						</div>
				</div>
          
          
          </div>
          
        </div>
			</div>
		</script>
		<script type="text/template" id="customCheckboxTemplate">
			<div class="input custom-checkbox" v-bind:class="{'checked':checked}" v-bind:data-balloon="tooltip" v-bind:data-balloon-pos="pos" v-on:click="checked = !checked">
				<span class="fas fa-check"></span>
			</div>
		</script>
		<script type="text/template" id="columnSlotTemplate">
			<div class="column-slot" v-on:click="onClick" v-bind:class="{'selected':data.selected}">
				<div class="slot-index">#{{index}}</div>
				<template v-if="type == 'date'">
					<span class="fas fa-calendar-alt"></span>
					<div class="with-balloon" data-balloon-pos="up-left" v-bind:data-balloon="'the form in which each row\'s date is present in column ' + index">
						<input class="input" v-model="data.definition.pattern"/>
					</div>
				</template>
				<template v-if="type == 'direction'">
					<div>
						<span class="fas fa-plus"></span>
						<div class="with-balloon" data-balloon-pos="right" v-bind:data-balloon="'value of column '+index+' that signifies that the transaction is incoming'" data-balloon-length="medium">
							<input class="input" v-model="data.definition.incoming"/>
						</div>
					</div>
					<div>
						<span class="fas fa-minus"></span>
						<div class="with-balloon" data-balloon-pos="right" v-bind:data-balloon="'value of column '+index+' that signifies that the transaction is outgoing'" data-balloon-length="medium">
							<input class="input" v-model="data.definition.outgoing"/>
						</div>
					</div>
				</template>
				<div data-balloon="name of the column (to use when filtering)" data-balloon-pos="up" data-balloon-length="fit" v-if="type == 'string'">
					<input class="input" v-bind:class="{'invalid':nameInvalid}" v-model="name" placeholder="?" v-bind:disabled="data.definition.inUse"/>
				</div>
				<span class="fas fa-dollar-sign" v-if="type == 'amount'"></span>
			</div>
		</script>
		<script type="text/template" id="categorySettingsTemplate">
			<div class="category category-settings" v-bind:class="{collapsed:collapsed,'category-top':top, 'non-existent':nonExistent,'draggable':draggable, 'dragged-over':draggedOver, 'dragged-from':draggedfrom}" v-bind:draggable="draggable" v-on:dragstart="onDragStart" v-on:dragover="onDragOver" v-on:dragleave="draggedOver = false" v-on:drop="onDrop" v-on:dragend="onDragEnd">
				<div class="drag-slot">
					<div class="drag-slot-inner"></div>
				</div>
				<div class="category-header category-settings-header">
					<span class="toggle-collapse" v-on:click="toggleCollapse">
						<span class="plus category-header-prefix">
							<span class="fas fa-plus-square"></span>
						</span>
						<span class="minus category-header-prefix">
							<span class="fas fa-minus-square"></span>
						</span>
					</span>
					<div class="with-balloon" v-bind:data-balloon="nonExistent? 'create category by giving it a name' : ('edit the name of this category'+ (top ? '':' (clear to remove)'))" data-balloon-pos="right">
						<input class="input" v-model="name" placeholder="?"/>
					</div>
				</div>
				<div class="category-set" v-if="data.exists">
					<div class="category-addon" v-if="!top && !onceOverridden">
						<custom-checkbox v-bind:tooltip="'use this if this category is the period boundary: only one row per period can be in this category'" v-bind:tooltippos="'up-left'" v-model="oncePerPeriod"></custom-checkbox> once
					</div>
					<div class="category-addon" v-if="!top" v-bind:class="{'active':filterActive}">
						<div class="with-balloon filter-button" data-balloon="filter rows that enter this category based on a condition" data-balloon-pos="up-left">
							<span class="fas fa-filter" v-on:click="toggleFilter"></span>
						</div>
						<property-contains v-on:switch="onSwitch" v-if="data.category.acceptRow && data.category.acceptRow.propertyContains" v-bind:data="data.category.acceptRow.propertyContains" v-bind:property-list="propertyList"></property-contains>
						<property-matches v-on:valid="onValid" v-on:switch="onSwitch" v-if="data.category.acceptRow && data.category.acceptRow.propertyMatches" v-bind:data="data.category.acceptRow.propertyMatches" v-bind:property-list="propertyList"></property-matches>
					</div>
					<div class="category-addon" v-if="!top" v-bind:class="{'active':collectionActive}">
						<div class="with-balloon filter-button collection-button" data-balloon="display (properties of) rows that enter this category" data-balloon-pos="up-left">
							<span class="fas fa-list-ul" v-on:click="toggleCollection"></span>
						</div>
						<row-collection v-on:valid="onValid" v-if="data.category.rowCollection" v-bind:data="data.category.rowCollection" v-bind:property-list="propertyList"></row-collection>
					</div>
					<div class="cagegory-addon expectation" v-bind:class="{'active':!!expectation}" v-if="!oncePerPeriod && !top">
						<span class="fas fa-times filter-button"></span>
						<div class="category-addon-content expectation-number" data-balloon="expect this number of rows per period to enter this category. Any excess will be displayed." data-balloon-length="medium" data-balloon-pos="up">
							<input type="number" v-model="expectation" min="0" step="1" class="input"/>
						</div>
					</div>
					<category-settings v-on:insertcategorybefore="onInsertCategoryBefore" v-on:insertcategoryafter="onInsertCategoryAfter" v-on:addcategorytoparent="onAddCategoryToParent" v-on:categorydragstart="onCategoryDragStart" v-on:categorydragend="onChildDragEnd" v-on:categoryremoved="removeCategory" v-on:categorycreated="addNewCategory" v-bind:property-list="propertyList" v-bind:draggedcategory="draggedcategory" v-for="slot in categorySlots" v-bind:data="slot" v-bind:draggedfrom="draggedcategory == slot.category" v-on:valid="onValid" :key="slot.key"></category-settings>
				</div>
				<div class="category-layover"></div>
			</div>
		</script>
		<script type="text/template" id="rowCollectionSettingsTemplate">
			<div class="row-collection category-addon-content">
				<row-property v-for="property in data.properties" v-bind:property="property" v-bind:property-list="propertyList" v-on:valid="onValid"></row-property>
				<div class="input add-row-property" v-on:click="addProperty" data-balloon="add a property to display for each row" data-balloon-pos="right"><span class="fas fa-plus"></span></div>
			</div>
		</script>
		<script type="text/template" id="rowPropertyTemplate">
			<div class="row-property">
				<div class="source-type row-property-part">
					<source-property-input v-model="property.source" v-bind:property-list="propertyList"></source-property-input>
				</div>
				<div class="arrow-container row-property-part" v-if="hasStringSource">
					<span class="fas fa-arrow-right"></span>
				</div>
				<div class="row-property-part target-type" v-if="hasStringSource">
					<target-type-input v-model="property.targetType"></target-type-input>
					<div class="with-balloon input-part" data-balloon="name of the property to display" data-balloon-pos="up" v-if="property.targetType === 'string'">
						<input class="input" v-model="property.name"/>
					</div>
					<div class="input-part" v-if="property.targetType === 'string'" data-balloon="display the part of the source that is matched by this regular expression. Leave empty to display the whole source" data-balloon-pos="up-right" data-balloon-length="large">
						<span class="fas fa-search"></span>
						<regex-input v-model="property.stringMatch" v-on:valid="onValid"></regex-input>
					</div>
					<div class="with-balloon input-part" data-balloon="the date pattern to look for in the source" data-balloon-pos="up" v-if="property.targetType === 'date'">
						<input class="input" v-model="property.conversion.pattern"/>
					</div>
					
				</div>
				<div class="row-property-part remove-property" data-balloon="remove this property" data-balloon-pos="up-right" v-on:click="onRemove">
					<span class="fas fa-times"></span>
				</div>
			</div>
		</script>
		<script type="text/template" id="sourcePropertyInputTemplate">
			<div class="input html-select" data-balloon="select the source of the data for this property" data-balloon-pos="up-left">
				<div class="html-option-list">
					<div class="html-option" v-if="property == 'date' || expanded" v-on:click="select('date')"><span class="fas fa-calendar-alt"></span></div>
					<div class="html-option" v-for="prop of displayPropertyList" v-on:click="select(prop.name)">{{prop.name}}</div>
					<div class="html-option" v-if="property == 'amount' || expanded" v-on:click="select('amount')"><span class="fas fa-dollar-sign"></span></div>
				</div>
				<div class="html-option-expand" v-on:click="expanded = !expanded"><span class="fas fa-caret-down"></span></div>
			</div>
		</script>
		<script type="text/template" id="targetTypeInputTemplate">
			<div class="input input-part html-select" data-balloon="select the type of the property to display (date or string)" data-balloon-pos="up">
				<div class="html-option-list">
					<div class="html-option" v-if="type == 'date' || expanded" v-on:click="select('date')"><span class="fas fa-calendar-alt"></span></div>
					<div class="html-option" v-if="type == 'string' || expanded" v-on:click="select('string')"><span class="fas fa-quote-left"></span></div>
				</div>
				<div class="html-option-expand" v-on:click="expanded = !expanded"><span class="fas fa-caret-down"></span></div>
			</div>
		</script>
		<script type="text/template" id="propertyContainsTemplate">
			<div class="property-contains category-addon-content">
				<div class="with-balloon" data-balloon="property based on which to filter" data-balloon-pos="up">
					<select v-model="data.name" class="input">
						<option v-for="prop of propertyList" v-bind:value="prop.name">{{prop.name}}</option>
					</select>
				</div>
				<select v-model="chosenVerb" class="input">
					<option v-bind:value="verb" v-for="verb of verbs">{{verb}}</option>
				</select>
				<div class="input value-list-input" data-balloon="the value of the property must contain either of these values in order to pass the filter" data-balloon-pos="down" data-balloon-length="medium">
					<div class="value-list-value" v-for="value in data.values">{{value}}</div>
					<input v-model="newValue" v-on:blur="addNewValue" v-on:keydown="onKeyDown"/>
				</div>
			</div>
		</script>
		<script type="text/template" id="propertyMatchesTemplate">
			<div class="property-matches category-addon-content">
				<div class="with-balloon" data-balloon="property based on which to filter" data-balloon-pos="up">
					<select v-model="data.name" class="input">
						<option v-for="prop of propertyList" v-bind:value="prop.name">{{prop.name}}</option>
					</select>
				</div>
				<select v-model="chosenVerb" class="input">
					<option v-bind:value="verb" v-for="verb of verbs">{{verb}}</option>
				</select>
				<div class="with-balloon" data-balloon="the value of the property must match this regular expression in order to pass the filter" data-balloon-pos="down" data-balloon-length="medium">
					<regex-input v-model="data.pattern" v-on:valid="onValid"></regex-input>
				</div>
			</div>
		</script>
		<script type="text/template" id="regexInputTemplate">
			<input v-model="inputValue" class="input pattern-input" v-bind:class="{invalid:!valid}"/>
		</script>
		<div id="firebaseui-auth-container"></div>
		<div id="app" v-bind:class="{'loading':loading}">
			<settings v-on:settingsdirty="setSettingsDirty" v-on:signout="signOut" v-on:settingsclean="setSettingsClean" v-on:settingsvalid="clearError" v-on:error="displayError" v-if="loggedIn" v-on:saved="settingsSaved = true" v-bind:loadingstatus="loadingStatus" v-bind:loggedinname="loggedInName"></settings>
			<div class="earlier" v-if="isMore" v-on:click="loadMore">earlier periods</div>
			<div v-if="loggedIn">
				<period-item v-for="period in incompleteEndingPeriods" v-bind:initial-data="period.file" v-bind:file-name="period.fileName"></period-item>
			</div>
			<div v-if="loggedIn">
				<period-item v-for="period in completePeriods" v-bind:initial-data="period.file" v-bind:file-name="period.fileName" v-on:removal="onRemovePeriod" v-on:error="displayError" :key="period.fileName" v-bind:loadingstatus="loadingStatus"></period-item>
			</div>
			<div v-if="loggedIn">
				<period-item v-for="period in incompletePeriods" v-bind:initial-data="period.file" v-bind:file-name="period.fileName" v-on:removal="onRemovePeriod" v-on:error="displayError" :key="period.fileName" v-bind:loadingstatus="loadingStatus"></period-item>
			</div>
			<div v-if="loggedIn">
				<period-item v-for="period in incompleteBeginningPeriods" v-bind:initial-data="period.file" v-bind:file-name="period.fileName"></period-item>
			</div>
			<div v-if="!settingsDirty && settingsSaved && loggedIn">
				<input type="file" ref="file" name="file" id="file" accept=".csv" class="file-input" v-on:change="fileNameChange"/><label class="input" for="file">{{fileName || "Choose a file"}}</label>
				<input type="button" class="input" value="submit" v-on:click="postCsv" />
			</div>
			<span class="fas fa-spinner fa-spin" v-if="loading"></span>
			<div class="error" v-if="errorMessage">{{errorMessage}}</div>
		</div>
		{% endraw %}
	</body>
</html>
